name: Checks

on:
  pull_request:
    branches:
      - main
    paths:
      - 'Juriba.AppM/**'

jobs:
  scriptanalyzer:
    runs-on: ubuntu-latest
    name: 'PowerShell Script Analyzer'
    steps:
      - uses: actions/checkout@v5
      - name: 'Install PSScriptAnalyzer PowerShell module'
        run: Install-Module PSScriptAnalyzer -Force
        shell: pwsh
      - name: 'Run PSScriptAnalyzer'
        run: Invoke-ScriptAnalyzer -Path .\Juriba.AppM -Recurse -EnableExit | Format-List
        shell: pwsh